//fuentes

$fuente_pri: 'Montserrat', sans-serif;

//colores
$rosado: #ffb6de;
$lila: #C37EDB;
$morado: #B7A6F6;
$celeste:#88A3E2;
$verde:#AAECFC;
$rojo:#BD2A2E;
$negro: #3B3936;
$verde1: #AAF0C8;
$blanco: #ffff;
$gris: #74726f;


//variables de pantalla

$telefono: 360px;
$tablet: 768px;
$desktop: 992px;
$desktopXL:1200px;

