@use '../base/variables' as v;
@use '../base/mixins' as m;

.sobre-evento{
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
}

.contenido-evento{
    h2{

    }
    .fecha{
        background-color: v.$verde1;
    }
    p{

    }
}