@use '../base/variables' as v;
@use '../base/mixins' as m;


.galeria{
    h3{
        margin-top: 2rem;
        font-size: 5rem;
        text-align: center;
        font-weight: 700;
    }
    padding-bottom: 3rem;
    ul{
        @include m.telefono{
            @include m.grid(1,3fr,2rem)
        }
    
        @include m.table{
            @include m.grid(2,1fr,4rem)
        }
    
        @include m.desktop{
            @include m.grid(4,1fr,4rem)
        }
    }

    img{
        @include m.telefono{
            width: 70%;
        }

        @include m.desktop{
            width: 300%;
        }
    }

}