@use '../base/variables' as v;
@use '../base/mixins' as m;


.galeria{
    padding: 5em 0 ; 
    h3{
        margin-top: 2rem;
        font-size: 5rem;
        text-align: center;
        font-weight: 700;
    }

    ul{
        @include m.telefono{
            @include m.grid(1,3fr,2rem)
        }
    
        @include m.table{
            @include m.grid(3,1fr,4rem)
        }
    
        @include m.desktop{
            @include m.grid(5,1fr,4rem)
        }
    }

    img{
        @include m.telefono{
            width: 70%;
        }

        @include m.desktop{
            width: 300%;
        }
    }

}


.overlay{
    position: fixed; //elemento fijo
    top: 0;           //
    left: 0;
    right: 0;
    bottom: 0;

    display: grid;
    place-items: center; // centa vertical y horizontal

    background-color: rgba(v.$gris, $alpha: 0.8);

    picture{
        display: block;
        max-width: 80rem;
    }
}

.btn-cerrar{
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    color: v.$verde1;

    border-radius: 50%;
    background-color: v.$negro;
    font-weight: 900;

    display: grid;
    place-items: center;
    
    &:hover{
        cursor: pointer;
    }
}